name: Build and Upload Release Binaries

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
    permissions:
      contents: write

    steps:
    - name: Checkout repo
      uses: actions/checkout@v5

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller pandas

    - name: Build executable (Windows)
      if: matrix.os == 'windows-latest'
      # Hinzugefügt: --hidden-import-Option für pandas und --icon=E_A_T-logo.ico für App-Logo
      run: pyinstaller --onefile --icon=E_A_T-logo.ico --windowed --hidden-import 'pandas' -n entity_analyzer_tool.exe entity_analyzer_tool.py

    - name: Upload binaries to release
      uses: softprops/action-gh-release@v2
      with:
        files: dist/*
      env:

        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
